[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=qide %F
Name=QIDE
Comment=The Quake Mod IDE
Icon=qide
GenericName=QIDE
Categories=Development;Utility;
